<!DOCTYPE html>

<html>
    <head>
        <title>
            SpaceX
        </title>

        <link rel="stylesheet" href="static/style.css" type="text/css">

        <style>
                h1 {
                    margin-top: 300px;
                }

                p {
                    text-align: center;
                }
        </style>
    </head>

    <body>
    <div>
        <h1>Спасибо за отправку</h1>
        <p>Мы обязательно рассмотрим ваше резюме</p>
    </div>
    </body>
</html>
